## Copyright (C) 2012 - 2023 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

Source: serial-console-enable
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@whonix.org>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13)
Homepage: https://github.com/Whonix/serial-console-enable
Vcs-Browser: https://github.com/Whonix/serial-console-enable
Vcs-Git: https://github.com/Whonix/serial-console-enable.git
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: serial-console-enable
Architecture: all
Depends: ${misc:Depends}
Description: Enables serial console
 Ships a /etc/default/grub.d/30_serial_console.cfg configuration file, that
 enables serial console.
 .
 Enables /lib/systemd/system/getty.target.wants/serial-getty@ttyS0.service by
 creating a symlink from:
 /lib/systemd/system/serial-getty@.service
 to:
 /lib/systemd/system/getty.target.wants/serial-getty@ttyS0.service
 .
 Useful for serial console login such as into Whonix KVM VMs from the host
 operating system.
 .
 Forum discussion:
 https://forums.whonix.org/t/how-do-i-enter-the-whonix-shell-from-cli/7271
 .
 Safe to remove if you do not require serial console login such as:
 virsh console vm-name
